body {
    background-color: $background;
}

.wrapper {
    width: 88.9%;
    max-width: 1280px;
    margin: 0 auto;
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}


h1 {
    position: absolute;
    top: 50px;

    width: 412px;

    text-shadow: 4px 4px 8px rgba(black, 0.25);

    transform: rotate(-15deg);
}

h2 {
    margin: 0 0 60px 0;
}

li {
    margin-bottom: 9px;
}

button {
    width: 260px;
    height: 80px;
    border: none;
    border-radius: 8px;
    
    box-shadow: 0 6px 6px rgba(black, 0.25);
    background-color: $accent;

    cursor: pointer;

    &:disabled {
        color: black;
        background-color: $accent;
        cursor: not-allowed;
    }
}

.inactive {
    opacity: 0;
    z-index: -10 !important;
}

.hide {
    display: none !important;
}



