body {
    background-color: $background;
}

.wrapper {
    width: 88.9%;
    max-width: 1280px;
    margin: 0 auto;
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}


h1 {
    width: 450px;
}

h2 {
    margin: 0 0 60px 0;
}

li {
    margin-bottom: 9px;
}

button {
    width: 315px;
    height: 80px;
    border: none;
    border-radius: 8px;
    
    box-shadow: 0 6px 6px rgba(black, 0.25);
    background-color: $button;
    color: white;

    cursor: pointer;

    &:disabled {
        background-color: $button;
        color: white;

        cursor: auto;
    }

    &:focus-visible {
        background-color: $accent;
        color: black;
        outline: none !important;
    }
}

.loading {
    position: absolute;
    z-index: 10;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;

    background-color: $background;

    transition: .5s;

    svg {
        width: 200px;
        height: 200px;

        animation: spin 2s linear infinite;
    }
}

.score {
    position: fixed;
    bottom: 8vh;

    display: flex;
    justify-content: center;
    width: 70px;
    height: 70px;
    padding-top: 14px;
    border-radius: 50%;

    background-color: $accent;

    transition: .5s;
    z-index: 2;
}

.inactive {
    opacity: 0;
    z-index: -10 !important;
}

.hide {
    display: none !important;
}

@media (max-width: 580px) {
    body {
        font-size: .9rem;
    }

    button {
        width: 260px;
        height: 60px;
        font-size: .9rem;
    }

    .score {
        width: 50px;
        height: 50px;
        padding-top: 9px;
        font-size: 1.2rem;
    }
}


