.main-content {
    // padding: 150px 0 0 0;
    // padding: 130px 0 0 0;
    padding: 100px 0 0 0;

    width: calc(200% / 3);
    transition: 0.3s;
    // margin-left: auto;
    margin: 0 0 0 auto;
    display: flex;
    justify-content: space-between;

    // .wrapper {
        
    // }

    &__text-container {
        width: 370px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    &__img-container {
        position: relative;
        display: inline;

        // img {
        //     height: 380px;
        // }
    }
}

@media(max-width: 910px) {
    .main-content {
        width: 100%;
    }
}