.main-content {
    padding: 150px 0 0 0;

    .wrapper {
        
    }

    &__text-container {
        width: 370px;
    }

    &__img-container {
        position: relative;
        display: inline;
    }

}