.character-reveal {
    position: relative;

    h2 {
        font-size: 2.5rem;
        width: 100%;
        word-wrap: break-word;
    }

    .container {
        position: relative;
        width: 750px;
        margin-bottom: 60px;
    }

    p {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 300px;
        min-width: 300px;
        height: 300px;
        border-radius: 50%;

        font-family: $heading-font;
        font-size: 2rem;

        background-color: white;

        transform: rotate(-15deg);
    }

    &__image {
        position: relative;
        top: 40px;
        width: 100%;
        height: 55vh;


        background-repeat: no-repeat;
        background-size: contain;
        background-position: right;
    }

    &__button {
        position: absolute;
        bottom: 6vh;
        width: auto;
        height: auto;

        font-size: 3rem;

        background-color: transparent;
        box-shadow: none;
        color: black;

        animation: fade-in 1s linear;

        &:disabled {
            background-color: transparent;
            color: black;
        }

        &:focus-visible {
            background-color: transparent;
            color: $button;
        }
    }
}


@media (max-width: 850px) {
    .character-reveal {
        .container {
            width: 100%;
            height: 100%;
        }
    
        p {
            position: static;

            width: 200px;
            min-width: 200px;
            height: 200px;
            margin-left: 10%;
            margin-bottom: calc(60vh - 200px);

            font-size: 1.5rem;

        }

        &__image {
            position: absolute;
            top: 0;
            right: 0;
            width: 65%;
        }
    }
}

@media (max-width: 580px) {
    .character-reveal {
        h2 {
            font-size: 1.8rem;
            margin-bottom: 30px;
        }
        .container {
            margin-bottom:0;
        }

        p {
            margin-bottom: calc(60vh - 140px);
        }

        &__image {
            top: 60px;
        }
    }
}

@media (max-width: 450px) {
    .page.character-reveal {
        justify-content: flex-start;

        h2 {
            margin-top: 40px;
            font-size: 1.2rem;
        }

        p {
            width: 150px;
            min-width: 150px;
            height: 150px;

            font-size: 1rem;
        }
    }
    
    .character-reveal__image {
        height: 45vh;
    }
}