@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@font-face {
  font-family: "Simpsons Font";
  src: url("../assets/fonts/simpsons-font/simpsons-font.woff") format("woff"), url("../assets/fonts/simpsons-font/simpsons-font.woff2") format("woff2");
}
html {
  font-size: 125%;
}

body {
  font-size: 1rem;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
}

h1, h2, p, ul, li {
  margin: 0;
}

h1, h2,
button,
.score {
  font-family: "Simpsons Font";
  text-align: center;
}

button {
  font-family: "Lexend Deca", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}

h1 {
  font-size: 2.4rem;
  line-height: 70px;
  letter-spacing: 3px;
}

h2 {
  font-size: 1.6rem;
  letter-spacing: 1px;
}

.score {
  font-size: 1.6rem;
}

button {
  font-size: 1.1rem;
  letter-spacing: 1px;
}

p, blockquote {
  line-height: 30px;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  background-color: #FED439;
}

.wrapper {
  width: 88.9%;
  max-width: 1280px;
  margin: 0 auto;
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
}

h1 {
  width: 450px;
}

h2 {
  margin: 0 0 60px 0;
}

li {
  margin-bottom: 9px;
}

button {
  width: 315px;
  height: 80px;
  border: none;
  border-radius: 8px;
  -webkit-box-shadow: 0 6px 6px rgba(0, 0, 0, 0.25);
          box-shadow: 0 6px 6px rgba(0, 0, 0, 0.25);
  background-color: #709AE1;
  color: white;
  cursor: pointer;
}
button:disabled {
  background-color: #709AE1;
  color: white;
  cursor: auto;
}
button:focus-visible {
  background-color: #71D0F5;
  color: black;
  outline: none !important;
}

.loading {
  position: absolute;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: #FED439;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.loading svg {
  width: 200px;
  height: 200px;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
}

.score {
  position: fixed;
  bottom: 8vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 70px;
  height: 70px;
  padding-top: 14px;
  border-radius: 50%;
  background-color: #71D0F5;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 2;
}

.inactive {
  opacity: 0;
  z-index: -10 !important;
}

.hide {
  display: none !important;
}

@media (max-width: 580px) {
  body {
    font-size: 0.9rem;
  }
  button {
    width: 260px;
    height: 60px;
    font-size: 0.9rem;
  }
  .score {
    width: 50px;
    height: 50px;
    padding-top: 9px;
    font-size: 1.2rem;
  }
}
.footer {
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  width: 100vw;
  font-weight: bold;
  text-transform: uppercase;
  background-color: white;
}
.footer span {
  padding: 0 15px;
}

@media (max-width: 580px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 65px;
    font-size: 0.8rem;
  }
  .footer p {
    height: 24px;
  }
  .footer span {
    display: none;
  }
}
.landing-page p {
  width: 50%;
  min-width: 373px;
  margin: 60px 0;
  text-align: center;
  line-height: 25px;
}

@media (max-width: 580px) {
  .landing-page h1 {
    max-width: 300px;
    width: 100%;
    font-size: 1.8rem;
    line-height: 60px;
  }
  .landing-page p {
    width: 80%;
    min-width: auto;
    margin: 30px 0 40px 0;
    padding-left: 0;
    line-height: 25px;
  }
}
.question h2 {
  margin-bottom: 40px;
}
.question__quote {
  width: 500px;
  margin-bottom: 60px;
  text-align: center;
}
.question__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  width: 600px;
}

@media (max-width: 580px) {
  .question h2 {
    margin-bottom: 20px;
  }
  .question__quote {
    width: 100%;
    height: auto;
    margin: 0 0 20px 0;
    line-height: 25px;
  }
  .question__buttons {
    gap: 15px;
    width: 100%;
  }
}
.character-reveal {
  position: relative;
}
.character-reveal h2 {
  font-size: 2.5rem;
  width: 100%;
  word-wrap: break-word;
}
.character-reveal .container {
  position: relative;
  width: 750px;
  margin-bottom: 60px;
}
.character-reveal p {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 300px;
  min-width: 300px;
  height: 300px;
  border-radius: 50%;
  font-family: "Simpsons Font";
  font-size: 2rem;
  background-color: white;
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
}
.character-reveal__image {
  position: relative;
  top: 40px;
  width: 100%;
  height: 55vh;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}
.character-reveal__button {
  position: absolute;
  bottom: 6vh;
  width: auto;
  height: auto;
  font-size: 3rem;
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: black;
  -webkit-animation: fade-in 1s linear;
          animation: fade-in 1s linear;
}
.character-reveal__button:disabled {
  background-color: transparent;
  color: black;
}
.character-reveal__button:focus-visible {
  background-color: transparent;
  color: #709AE1;
}

@media (max-width: 850px) {
  .character-reveal .container {
    width: 100%;
    height: 100%;
  }
  .character-reveal p {
    position: static;
    width: 200px;
    min-width: 200px;
    height: 200px;
    margin-left: 10%;
    margin-bottom: calc(60vh - 200px);
    font-size: 1.5rem;
  }
  .character-reveal__image {
    position: absolute;
    top: 0;
    right: 0;
    width: 65%;
  }
}
@media (max-width: 580px) {
  .character-reveal h2 {
    font-size: 1.8rem;
    margin-bottom: 30px;
  }
  .character-reveal .container {
    margin-bottom: 0;
  }
  .character-reveal p {
    margin-bottom: calc(60vh - 140px);
  }
  .character-reveal__image {
    top: 60px;
  }
}
@media (max-width: 450px) {
  .page.character-reveal {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .page.character-reveal h2 {
    margin-top: 40px;
    font-size: 1.2rem;
  }
  .page.character-reveal p {
    width: 150px;
    min-width: 150px;
    height: 150px;
    font-size: 1rem;
  }
  .character-reveal__image {
    height: 45vh;
  }
}
.results {
  position: relative;
}
.results h2 {
  font-size: 3rem;
}
.results .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 800px;
  margin-top: 40px;
}
.results__quote {
  font-size: 1.5rem;
  width: 400px;
  margin-bottom: 100px;
}
.results__quote span {
  display: block;
  margin-top: 20px;
}
.results__score {
  position: relative;
  top: -40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  font-family: "Simpsons Font";
  font-size: 3rem;
  background-color: white;
}
.results__score span {
  font-family: "Lexend Deca", sans-serif;
}
.results button {
  margin-top: 60px;
}

@media (max-width: 850px) {
  .results .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    text-align: center;
  }
  .results__quote {
    width: 70%;
    margin-bottom: 20px;
  }
  .results__score {
    font-size: 2rem;
    width: 200px;
    min-width: 200px;
    height: 200px;
  }
  .results button {
    margin-bottom: 50px;
  }
}
@media (max-width: 580px) {
  .results h2 {
    font-size: 1.5rem;
    margin-bottom: 30px;
  }
  .results__score {
    width: 100px;
    min-width: 100px;
    height: 100px;
    font-size: 1.2rem;
  }
  .results__quote {
    width: 100%;
    font-size: 1rem;
    line-height: 25px;
  }
  .results__quote span {
    margin-top: 5px;
  }
  .results button {
    margin-top: 10px;
    margin-bottom: 65px;
  }
}